EMAIL_PASSWORD="Abc123"
EMAIL_USER="user@provider.com.br"
EMAIL_WEBSITE="https://the_provider_website.com/login"
EMAIL_TR_SUPERVISOR="terminal.supervisor@provider.com.br"
EMAIL_BUYER="buy.department@provider.com.br"
EMAIL_SHOPPING_SUPERVISOR="mall.supervisor@provider.com.br"
EMAIL_HYGIENIC_SUPPLIER="supplier@provider.com.br"
EMAIL_OPERATIONAL_SUPERVISOR="operational.department@provider.com.br"